body{
    background-color: black;
}

#xyz{
    width: 300px;
    height: 280px;
    border-style: solid;
    margin: auto;
    border-width: 5px;
    border-radius: 5px 90px 5px 90px;
    margin-top: 100px;
    text-align: center;
    background: linear-gradient(90deg, orange, purple);
    border-color: transparent;
}
h1{
    color: white;
}
h1:hover{
    color: red;
    transition: 0.6s ease;
}
#textbox{
    width: 200px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 2px 12px 2px 12px;
}

#btn{
    width: 100px;
    padding: 5px;
    background: linear-gradient(90deg, orange, purple);
    color: white;
    border-radius: 2px 20px 2px 20px;
}
#btn:hover{
    background: white;
    color: black;
    transition: 0.6s ease;
}